.character-page-container h1 {
  margin: 0;
}

.character-image {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}

.character-info {
  width: 300px;
}

@media screen and (min-width: 600px) {
  .character-page-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 2ch;
    align-items: center;
    justify-content: center;
  }

  .character-image {
    margin: 0;
  }
}

.character-info-table {
  width: 100%;
  border-collapse: collapse;
}

.character-info-table th {
  text-align: start;
}

.character-info-table th,
.character-info-table td {
  padding: 1em;
}

.character-info-table tr:nth-of-type(even) {
  background-color: #ccc;
}
